
-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
	

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1. Template default CSS
/*----------------------------------------*/
/* google-font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,500,600,700,900');
html, body {height: 100%;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {
  border: medium none;
  outline: 0 none;
}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 0 0 10px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { 
    color: inherit 
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  text-decoration: none;
}
a:active {
  outline: 0 none;
}
a:focus{text-decoration:none;}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
.clear{clear:both}
body {color:#444;
font-family: 'Open Sans', sans-serif;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*************************
   Text color
*************************/
.text-blue { color: #3B5998; }
.text-red { color: #CB2027 ;}
.text-white { color: #FFFFFF ;}
.text-black { color: #363636; }
.text-theme { color: #f10; }

.text-white h1, .text-white p, .text-white h2{ color: #fff; }
.text-white { color: #fff; }
.text-black { color: #363636 ;}
.text-green { color: #3452ff ;}
.text-theme { color: #f10; }

/*colored background*/
 .white-bg { background: #FFFFFF !important; }
 .gray-bg { background: #F8F8F8 !important; }
 .gray-bg-1 { background: #CD2735 !important; }
 .blue-bg { background: #3452ff !important; }
 .blue-bg-1 { background: #8D2BE2 !important; }
 .green-bg { background: #00FF00 !important; }
 .green-bg-1 { background: #FF8000 !important; }
 .black-bg { background: #171717 !important; }
 .default-bg { background: #50C1F0 !important; }
 .transparent-bg { background: transparent !important; }
 .maroon-bg{background: #811D15 !important;811D15}

/*************************
  Basic margin padding
*************************/
.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
         Margin top
*************************/
.mt-0 { margin-top: 0 }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-30 { margin-top: 30px }
.mt-40 { margin-top: 40px }
.mt-50 { margin-top: 50px }
.mt-60 { margin-top: 60px }
.mt-70 { margin-top: 70px }
.mt-80 { margin-top: 80px }
.mt-90 { margin-top: 90px }
.mt-100 { margin-top: 100px }
.mt-110 { margin-top: 110px }
.mt-120 { margin-top: 120px }
.mt-130 { margin-top: 130px }
.mt-140 { margin-top: 140px }
.mt-150 { margin-top: 150px }
/*************************
      Margin right
*************************/
.mr-0 { margin-right: 0px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-30 { margin-right: 30px }
.mr-40 { margin-right: 40px }
.mr-50 { margin-right: 50px }
.mr-60 { margin-right: 60px }
.mr-70 { margin-right: 70px }
.mr-80 { margin-right: 80px }
.mr-90 { margin-right: 90px }
.mr-100 { margin-right: 100px }
.mr-110 { margin-right: 110px }
.mr-120 { margin-right: 120px }
.mr-130 { margin-right: 130px }
.mr-140 { margin-right: 140px }
.mr-150 { margin-right: 150px }
/*************************
      Margin bottom
*************************/
.mb-0 { margin-bottom: 0 }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-30 { margin-bottom: 30px }
.mb-40 { margin-bottom: 40px }
.mb-50 { margin-bottom: 50px }
.mb-60 { margin-bottom: 60px }
.mb-70 { margin-bottom: 70px }
.mb-80 { margin-bottom: 80px }
.mb-90 { margin-bottom: 90px }
.mb-100 { margin-bottom: 100px }
.mb-110 { margin-bottom: 110px }
.mb-120 { margin-bottom: 120px }
.mb-130 { margin-bottom: 130px }
.mb-140 { margin-bottom: 140px }
.mb-150 { margin-bottom: 150px }
/*************************
        Margin left
*************************/
.ml-0 { margin-left: 0 }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-30 { margin-left: 30px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-130 { margin-left: 130px }
.ml-140 { margin-left: 140px }
.ml-150 { margin-left: 150px }
/*************************
        Padding top
*************************/
.pt-0 { padding-top: 0 }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-30 { padding-top: 30px }
.pt-40 { padding-top: 40px }
.pt-50 { padding-top: 50px }
.pt-60 { padding-top: 60px }
.pt-70 { padding-top: 70px }
.pt-80 { padding-top: 80px }
.pt-90 { padding-top: 90px }
.pt-100 { padding-top: 100px }
.pt-110 { padding-top: 110px }
.pt-120 { padding-top: 120px }
.pt-130 { padding-top: 130px }
.pt-140 { padding-top: 140px }
.pt-150 { padding-top: 150px }
/*************************
        Padding right
*************************/
.pr-0 { padding-right: 0 }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-30 { padding-right: 30px }
.pr-40 { padding-right: 40px }
.pr-50 { padding-right: 50px }
.pr-60 { padding-right: 60px }
.pr-70 { padding-right: 70px }
.pr-80 { padding-right: 80px }
.pr-90 { padding-right: 90px }
.pr-100 { padding-right: 100px }
.pr-110 { padding-right: 110px }
.pr-120 { padding-right: 120px }
.pr-130 { padding-right: 130px }
.pr-140 { padding-right: 140px }
/*************************
        Padding bottom
*************************/
.pb-0 { padding-bottom: 0 }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-30 { padding-bottom: 30px }
.pb-40 { padding-bottom: 40px }
.pb-50 { padding-bottom: 50px }
.pb-60 { padding-bottom: 60px }
.pb-70 { padding-bottom: 70px }
.pb-80 { padding-bottom: 80px }
.pb-90 { padding-bottom: 90px }
.pb-100 { padding-bottom: 100px }
.pb-110 { padding-bottom: 110px }
.pb-120 { padding-bottom: 120px }
.pb-130 { padding-bottom: 130px }
.pb-140 { padding-bottom: 140px }
.pb-150 { padding-bottom: 150px }
/*************************
        Padding left
*************************/
.pl-0 { padding-left: 0 }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-30 { padding-left: 30px }
.pl-40 { padding-left: 40px }
.pl-50 { padding-left: 50px }
.pl-60 { padding-left: 60px }
.pl-70 { padding-left: 70px }
.pl-80 { padding-left: 80px }
.pl-90 { padding-left: 90px }
.pl-100 { padding-left: 100px }
.pl-110 { padding-left: 110px }
.pl-120 { padding-left: 120px }
.pl-130 { padding-left: 130px }
.pl-140 { padding-left: 140px }
.pl-150 { padding-left: 150px }


/***************************
    Page section padding 
****************************/
.ptb-0 { padding: 0 }
.ptb-10 { padding: 10px 0 }
.ptb-20 { padding: 20px 0 }
.ptb-30 { padding: 30px 0 }
.ptb-40 { padding: 40px 0 }
.ptb-50 { padding: 50px 0 }
.ptb-60 { padding: 60px 0 }
.ptb-70 { padding: 70px 0 }
.ptb-80 { padding: 80px 0 }
.ptb-90 { padding: 90px 0 }
.ptb-100 { padding: 100px 0 }
.ptb-110 { padding: 110px 0 }
.ptb-120 { padding: 120px 0 }
.ptb-130 { padding: 130px 0 }
.ptb-140 { padding: 140px 0 }
.ptb-150 { padding: 150px 0 }

/***************************
    Page section margin 
****************************/
.mtb-0 { margin: 0 }
.mtb-10 { margin: 10px 0 }
.mtb-15 { margin: 15px 0 }
.mtb-20 { margin: 20px 0 }
.mtb-30 { margin: 30px 0 }
.mtb-40 { margin: 40px 0 }
.mtb-50 { margin: 50px 0 }
.mtb-60 { margin: 60px 0 }
.mtb-70 { margin: 70px 0 }
.mtb-80 { margin: 80px 0 }
.mtb-90 { margin: 90px 0 }
.mtb-100 { margin: 100px 0 }
.mtb-110 { margin: 110px 0 }
.mtb-120 { margin: 120px 0 }
.mtb-130 { margin: 130px 0 }
.mtb-140 { margin: 140px 0 }
.mtb-150 { margin: 150px 0; }
.bg-opacity{position:relative}
.bg-opacity::before {
  background: hsl(0, 0%, 0%) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.bg-opacity-2{position:relative;}
.bg-opacity-2::before {
  background: hsl(0, 0%, 0%) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.bg-img-2 {
  background: rgba(0, 0, 0, 0) url("img/bg/2.jpg") repeat scroll 0 0;
  background-position: center center;
  background-size: cover;
}
/* 2. header */
/* header-top-area */
.header-top-area{}
.search-icon i {
  color: #ffffff;
  line-height: 40px;
}
.header-icon {
  margin-top: 5px;
}
.header-search {
  margin-left: 12px;
  position: relative;
  cursor: pointer;
}
.search-form {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 120%;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 175px;
  z-index: 99;
}
.header-search:hover .search-form{visibility: visible;opacity: 1;top:100%}
.search-form form {
  position: relative;
}
.search-form form input {
  border: 1px solid #dddddd;
  height: 35px;
  padding: 0 10px;
  width: 100%;
}
.search-form form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #666666;
  height: 100%;
  position: absolute;
  right: 0;
  width: 35px;
}
.header-icon a {
  color: #ffffff;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-left: 15px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.header-icon a:hover{color:#3452ff;}
.top-right span{color:#ffffff;}
.top-right li {
  border-right: 1px solid #444444;
  color: #eeeeee;
  display: inline-block;
  line-height: 40px;
  padding: 0 10px;
}
.top-right li:last-child{border:0}
.top-right li:first-child{padding-left:0}
.top-right li i {
  margin-right: 5px;
}.top-right li i {
  margin-right: 5px;
}
.top-right li span {
  font-size: 16px;
  font-weight: 400;
}
.top-right li a {
  color: #eeeeee;
  font-size: 13px;
  font-weight: 400;
}


#topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
*/

/*Shop Detail*/
 .carousel-inner img {
      width: 100%;
      height: 100%;
  }

  .shop-detail > li{
    padding-bottom: 8px;

  }



 .category-icon-shop img {
    max-height: 48px;
     opacity: 1; 

}
 .category-icon-shop a:hover{
    opacity: .7 !important;
    color: #e94922;

     
}


.category-icon-shop a {
    color: #444;
}
.separator{
    border-bottom: 2px solid #ea5b0c;
    width: 100%;
    margin-top: -21px;
    margin-bottom: 50px;
     opacity: 0.8;
}

.separator-business{
    border-bottom: 2px solid #ea5b0c;
    width: 100%;
    margin-top: -21px;
    margin-bottom: 42px;
     opacity: 0.5;
}




nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#272e38;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#fff;
    background:#272e38;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #ea5b0c ;
}
.tab-content{
  background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #ea5b0c;
    border-bottom:5px solid #ea5b0c;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #ea5b0c;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}

/*END Shop Detail*/

/* 3. slider-area */
.nivoSlider {height:50vh !important;}
.nivoSlider img {height:100% !important;}

.slider-area{}
.single-slider{position:relative;}
.slider-img{}
.single-slider {
  background-position: center center;
  background-size: cover;
  padding: 310px 0;
  position: relative;
}
.slider-text {
  position: relative;
  z-index: 99;
}
.slider-text h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
}
.slider-text p {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 22px;
}
.slider-text a {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px 28px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.slider-text a.active {
  background: #3452ff none repeat scroll 0 0;
  border-color: #3452ff;
  color: #ffffff;
}
.slider-text a.active:hover{background:#333333;border-color:#333333;}
.slider-active .owl-nav div {
  background: #3452ff none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  font-size: 37px;
  height: 50px;
  left: 0;
  line-height: 48px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  width: 50px;
}
.slider-active .owl-nav div.owl-next {
  left: auto;
  right:0;
}
.slider-active:hover .owl-nav div{left:40px;opacity:1;}
.slider-active:hover .owl-nav div.owl-next{left:auto;right:40px;}

.category-icon{
  background: #e71f30 none repeat scroll 0 0;
  padding: 3px;
}

.category-icon:hover{
    
    border-bottom: 3px solid #008000;
}
.categories h3{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}

/*Icon Categories Menu*/
.icon-cat {
  font-size: 30px;
  margin-bottom: 15px;
}
.icon-cat h3 {
   font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding-top: 7px;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

/*End Icon Categories Menu*/

/*Right Side bar*/

.right-section-container{
  background-color: #343434;

}

.sideNav {
   
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.canadianEh {
    background: url(./img/canadian-eh.jpg) center right no-repeat;
    background-size: cover;
    position: relative;
    padding: 17px 30px 30px;
    margin: 0 -15px;
    height: 253px;
} 

.canadianEh > p {
    font-family: "open sans";
    font-size: 15px;
    position: relative;
     color:#ffffff;
}

.canadianEh > h4 {
    padding-top: 5px; 
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    position: relative;
    color:#ffffff;
}
.aside-title-container {
    background-color: #252525;
    -webkit-box-shadow: inset 0 4px 4px rgba(33,30,30,.1);
    -moz-box-shadow: inset 0 4px 4px rgba(33,30,30,.1);
    box-shadow: inset 0 4px 4px rgba(33,30,30,.1);
    margin: 0 -15px 20px;
    border-bottom: 1px solid #161616;
    border-top: 1px solid #161616;
    padding: 5px 0;
    clear: both;
}
.asideTitle {
    font-family: montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.greenRight {
    background: url(./img/icons/title-green-right.png) right top no-repeat transparent;
    margin-right: -10px;
    padding-bottom: 10px;
}

.latest-news h4{

}

.asideTitle.greenTitle {
    background: none repeat scroll 0 0 #66cc00;
}

.asideTitle.blueTitle {
    background: none repeat scroll 0 0 #0066ff;
}

.asideTitle.redTitle {
    background: none repeat scroll 0 0 #ff3333;
}


.right-section-container .latest-news h4 {
    color: #66cc00;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-weight: bold;
    line-height: 23px
    font-family: 'Montserrat', sans-serif;
}

.right-section-container .latest-blogs h4 {
  color: #0066ff;
}
.right-section-container .upcoming-events h4 {
  color: #ff3333;
}

.right-section-container .sidebar > p{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 15px;
    display: block;
}

.blueRight {
    background: url(./img/icons/title-blue-right.png) right top no-repeat transparent;
    margin-right: -10px;
    padding-bottom: 10px;
}

.redRight {
    background: url(./img/icons/title-red-right.png) right top no-repeat transparent;
    margin-right: -10px;
    padding-bottom: 10px;
}
/*eND Right Side bar*/

/*Home Item*/
.item h4{
font-size: 20px;
line-height: 32px;
color:#696969;
margin-bottom: 1px;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.trends{
  width: 312px;
  height:189px;
}

.card h3{
font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #4f4f4f;
}

.card p{
font-family: 'Open Sans',sans-serif;
  font-size: 17px;
  font-weight: 500;
  color:#4f4f4f;;
}

.card button{
 font-family: 'Open Sans',sans-serif;
  font-size: 17px;
  font-weight: 500;
  border: none;
  color: #4f4f4f;;
}

.text-muted{
  color: #6c757d !important ;
  font-size: 15px;
}

.star-color{
     color: #ffb400 !important;
    -webkit-text-stroke: 0px #ffb400;
    text-shadow: 0px 0px #ffb400;
    font-size:20px;
}
/*.item .col-lg-3{
  padding-right: 6px !important;
  padding-left: 15px !important;
}*/
/*END Home Item*/


/* 4. What-we-do-area */
.What-wedo-area{}
.section-title {
  margin-bottom: 60px;
}
.section-cat {
  margin-bottom: 30px;
   border-bottom: 5px solid #e71f30;

}

.section-cat h4{
  color:#e71f30;
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;

  
}
.section-title h2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: -12px;
  padding-top: 77px;
}
.section-title.text-center > p {
  color: #555;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.section-title h2::before {
  background: #bbb none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 50px;
}
.cat-title h2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  padding-bottom: 15px;
  position: relative;
  text-transform: uppercase;
}


.single-What-wedo {
  background: #f6f6f6 none repeat scroll 0 0;
  padding: 20px;
}
.What-wedo-text{}
.icon-box {
  font-size: 49px;
  margin-bottom: 15px;
}
.What-wedo-text h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}
.section-title h2::before {
  background: #e94922;
  bottom: 0;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 30%;
}
.What-wedo-text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}

/*Modal*/
.modal-newsletter { 
    color: #999;
    width: 625px;
    font-size: 15px;
  }
  .modal-newsletter .modal-content {
    padding: 30px;
    border-radius: 0;   
    border: none;
  }

  .modal-body h1 {
    color: #e94922;
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    padding-bottom: 18px;
  }

  .modal-body h2 {
    color: #000;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
     padding-bottom: 14px;
  }
  .subscribe-btn{
    border:none;
  }
 .message {
    margin: 10px -10px;
    padding: 10px 15px;
    background: #ffe4b2;
    line-height: 2;
}

.agrement p{
    font-size: 10px;
    line-height: 1.5;
}
  .modal-newsletter .close {
    position: absolute;
    top: -15px;
    right: -15px;
    text-shadow: none;
    opacity: 0.3;
    font-size: 24px;
  }
  .modal-newsletter .close:hover {
    opacity: 0.8;
  }
  .modal-newsletter .icon-box {
    color: #7265ea;   
    display: inline-block;
    z-index: 9;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
  }
  .modal-newsletter .icon-box i {
    font-size: 110px;
  }
  .modal-newsletter .form-control, .modal-newsletter .btn {
    min-height: 46px;
    border-radius: 0;
  }
  .modal-newsletter .form-control {
    box-shadow: none;
    border-color: #dbdbdb;
  }
  .modal-newsletter .form-control:focus {
    border-color: #f95858;
    box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
  }
    .modal-newsletter .btn {
        color: #fff;
    background: #f95858;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
    padding: 6px 20px;
    min-width: 150px;
    margin-left: 6px !important;
        border: none;
    }
  .modal-newsletter .btn:hover, .modal-newsletter .btn:focus {
    box-shadow: 0 0 8px rgba(249, 88, 88, 0.4);
    background: #f72222;
    outline: none;
  }
  .modal-newsletter .input-group {
    margin-top: 30px;
  }
  .hint-text {
    margin: 100px auto;
    text-align: center;
  }

/*  End Modal*/


/* 5. counter-area */
.counter-area{}
.single-counter {
  background: #292e47 none repeat scroll 0 0;
  float: left;
  padding-bottom: 90px;
  padding-top: 90px;
  width: 25%;
}
.single-counter:nth-child(2n) {
  background: #24283F none repeat scroll 0 0;
}
.counter-text {
  text-align: center;
}
.counter-text h3 {
  color: #fff;
  font-family: inherit;
  font-size: 50px;
  font-weight: 400;
  line-height: 37px;
  margin-bottom: 25px;
}
.counter-text h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 0;
}
/* 6. portfolio-area */
.portfolio-area{}
.portfolio-filter {
  margin-bottom: 40px;
}
.portfolio-filter li.filter.active {
  background: #3452ff;
  color: #fff;
  border-color:#3452ff;
}
.portfolio-filter li {
  border: 1px solid #dddddd;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 4px;
  margin: 0 4px;
  padding: 8px 10px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out 0s;
}
.portfolio-filter li:hover{background:#3452ff;color:#fff;border-color:#3452ff;}
.single-portfolio {
  position: relative;
}
.portfolio-img{}
.portfolio-img a {
  display: block;
  position: relative;
}
.portfolio-img a::before {
  background: #3452ff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  z-index: 99;
}
.single-portfolio:hover .portfolio-img a::before{opacity:.8;right:15px;left:15px;top:15px;bottom:15px}
.portfolio-info {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
.portfolio-icon{}
.portfolio-icon i {
  background: #fff none repeat scroll 0 0;
  color: #3452ff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  z-index: 99;
  margin: 0 5px;
  opacity:0;
  transition:.3s;
}
.portfolio-icon i:hover{background: #3452ff;color:#fff}
.single-portfolio:hover .portfolio-icon i{opacity:1;}
#Container .mix{display:none}
/* 7. service-area */
.service-area{}
.single-service{}
.service-icon {
  margin-bottom: 25px;
}
.service-icon i {
  background: #eee none repeat scroll 0 0;
  border-radius: 50%;
  color: #3452ff;
  font-size: 30px;
  height: 95px;
  line-height: 95px;
  transition: all 0.3s ease 0s;
  width: 95px;
}
.single-service:hover .service-icon i{
  background: #3452ff none repeat scroll 0 0;
  color: #fff;
  transform: rotate(360deg) scale(1);
}
.service-text h4 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service-text p {
  color: #666;
  line-height: 26px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}
/* 8. testimonial-area */
.testimonial-area{}
.testimonial-wrapper {
  background: hsl(0, 0%, 100%) none repeat scroll 0 0;
  border: 1px solid hsl(0, 0%, 94%);
  padding: 25px 30px;
}
.testimonial-img {
  margin-bottom: 10px;
}
.testimonial-img.text-center > img {
  border-radius: 50%;
}
.testimonial-info{}
.testimonial-info.text-center > p {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
  color:#666;
}
.testimonial-info span {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
  font-style: italic;
}
.testimonial-active.owl-carousel .owl-item img {
  display: inline-block;
  width: inherit;
}
/* 9. footer */
.contact strong i {
  margin-right: 5px;
}
.contact strong {
  float: left;
  font-weight: bold;
  margin-right: 10px;
  width: 15px;
}
.footer-area{
  color: hsl(0, 0%, 60%);
}
.footer-img {
  margin-bottom: 10px;
}
.footer-address > p {
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}
.footer-address {
  margin-bottom: 20px;
}
label {
  margin-bottom: 8px;
  margin-right: 3px;
}
.address > a {
  color: hsl(0, 0%, 60%);
}
.widget{}
.widget-title{}
.widget-title h4 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.list-img {
  float: left;
}
.posts-list > li {
  overflow: hidden;
  margin-bottom: 20px;
}
.posts-list >li:last-child {margin-bottom:0} 
.posts-list h5 {
  margin-left: 70px;
  font-size: 13px;
  font-weight: 600;
}
.posts-list a:hover{color:#fff;}
.posts-list span {
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-left: 70px;
}
.tagcloud > a {
  background: #131313 none repeat scroll 0 0;
  color: #999999;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 7px;
  margin-right: 7px;
  padding: 5px 10px;
  transition: all 0.3s ease 0s;
}
.tagcloud > a:hover{background:#3452ff;color:#fff;}
.Flickr-list {
  margin: 0 -3px;
  overflow: hidden;
}
.Flickr-list > li {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 5px 10px;
  width: 33.33%;
}
.btn-follow {
  color: hsl(0, 0%, 100%);
}
.social-icons label {
  font-size: 14px;
  font-weight: 700;
  margin-right: 3px;
   color: hsl(0, 0%, 60%);
}
.footer-bottom-area {
  background: #121212 none repeat scroll 0 0;
  padding: 40px 0;
}
.social-icons.text-center > a {
  font-size: 13px;
  margin: 0 5px;
  color: hsl(0, 0%, 60%);
  transition:.3s;
}
.social-icons.text-center > a:hover{color:#3452ff;}
.copyright.text-center > p {
  color: hsl(0, 0%, 60%);
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}
/* brand */
.single-brand {
  text-align: center;
}
.brand-img {
  border: 1px solid #dddddd;
  transition: all 0.3s ease 0s;
}
.brand-img:hover{border-color:#3452ff;}
.brand-active.owl-carousel .owl-item img {
  display: inline-block;
  width: inherit;
}
/* breadcrumb-area */
.bg-color {
  background: hsl(0, 0%, 97%) none repeat scroll 0 0;
}
.breadcrumb-title h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.breadcrumb-menu ul li {
  color: #3452ff;
  display: inline-block;
  font-size: 13px;
  padding: 0 5px;
  text-transform: capitalize;
}
.breadcrumb-menu ul li::after {
  color: hsl(0, 0%, 80%);
  content: "/";
  display: inline-block;
  float: right;
  position: relative;
  right: -6px;
  top: 2px;
}
.breadcrumb-menu ul li:last-child::after{display:none;}
.breadcrumb-menu a {
  color: hsl(0, 0%, 60%);
  font-size: 13px;
  font-weight: 400;
  transition: all 0.3s ease 0s;
}
/* 10. contact-area */
.contact-middle-area{}
.middle-text{}
.middle-text h4 {
  font-size: 16px;
  font-weight: 600;
}
.middle-text p {
  font-size: 14px;
  font-weight: 400;
}
.middle-text > a {
  color: #3452ff;
  font-size: 14px;
}
#map{height:300px;width:100%}
.contact-bottom-area{}
.contact-bottom-text {
  margin-bottom: 50px;
  padding-bottom: 20px;
  position: relative;
}
#contact-form{}
#contact-form input {
  border: 2px solid #eee;
  border-radius: 2px;
  color: #999;
  font-size: 14px;
  height: 39px;
  margin-bottom: 20px;
  padding: 7px 10px;
  width: 100%;
  text-transform: capitalize;
}
#contact-form textarea {
  border: 2px solid #eee;
  color: #999;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  text-transform: capitalize;
}

.contact-bottom-text h2 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.contact-bottom-text p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}
/*Footer*/
.sticky-refer {
  margin-top: 10px;
  height: 100px;
  background-color: #00f800;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding-top: 40px;
  color: #141518;
 font-weight: 700;
 font-size: 25;
   color:white;
}

/*.sticky-refer{
  height: 100px;
  background-color:#00f800;
  margin-top: 15px;
  position: -webkit-sticky;
  position: fixed;
  bottom: 0;
*/
}

 .signup{
 padding-top: 30px;
 padding-bottom: 30px;
 color: #141518;
 font-weight: 700;
 font-size: 25;
   color:white;
}
.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem #e94922;
}
/*End Footer*/

/* 11. blog-area */
.blog-widget {
  margin-bottom: 50px;
}
form#search {
  position: relative;
}
form#search input {
  border: 1px solid #ededed;
  border-radius: 2px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  height: 39px;
  padding-left: 12px;
  width: 100%;
}
form#search button {
  background: #3452ff;
  border: 2px solid #3452ff;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  height: 39px;
  padding: 0 20px;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
}
.widget-title{}
.widget-title h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.list-item{}
.list-item li {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.list-item li:last-child{border-bottom:0;}
.list-item li a{color:hsl(0, 0%, 20%)}
.list-item li a:hover{color:#3452FF}
.post-list{}
.post-list li {
  margin-bottom: 16px;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}
.post-list li:hover{background:#EEEEEE;}
.post-list li:last-child{margin-bottom:0;}
.blog-img {
  float: left;
  max-width: 52px;
}
.post-list h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 6px;
  display: block;
  margin-left: 62px;
}
.post-list span {
  display: block;
  font-size: 12px;
  font-style: italic;
  margin-left: 62px;
}
.post-list a {
  color: hsl(0, 0%, 0%);
  transition:.3s;
}
.post-list a:hover{color:#3452ff;}
.Tagcloud li {
  display: inline-block;
}
.Tagcloud li a {
  background: hsl(0, 0%, 97%) none repeat scroll 0 0;
  border-radius: 2px;
  color: hsl(0, 0%, 47%);
  display: inline-block;
  margin: 0 0 6px;
  padding: 8px 12px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.Tagcloud li a:hover{background:#3452ff;color:#fff;}
.blog-wrapper {}
.blog-media {
  position: relative;
}
.blog-content-img img {
  width: 100%;
}
.post-content {
  margin-top: 30px;
}
.blog-padd {
  margin-top: 20px;
  padding: 0 20px 20px;
}
 .post-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}
.post-title a{transition:.3s;}
.post-title a:hover{color:#3452ff;}
.post-meta {
  margin-bottom: 25px;
}
.post-meta li {
  color: hsl(0, 0%, 60%);
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.post-meta li::before {
  content: "/";
  padding: 0 5px;
}
.post-meta li:first-child::before {
  display: none;
}
.post-meta li a {
  color: #3452ff;
  transition: all 0.3s ease 0s;
}
.post-content > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
   color: hsl(0, 0%, 40%);
}
.more {
  color: #3452ff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.more:hover{color:#444444;}

/* blog-details */
.comment-form h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}
.bottom-border::before {
  border-bottom: 2px solid #eeeeee;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}
.bottom-border::after {
  border-bottom: 2px solid #3452FF;
  content: "";
  display: block;
  margin: 20px auto 30px 0;
  position: relative;
  width: 35px;
  z-index: 1;
}
.comments h5 {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  position: relative;
}
.comment-img {
  float: left;
  margin: 5px 0 0;
  max-width: 70px;
  position: relative;
  z-index: 1;
}
.comment-img > img {
  border-radius: 50%;
}
.comment-content {
  background: #f5f5f5 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 0 0 35px 90px;
  padding: 30px;
  position: relative;
}
.comment-content a {
  font-size: 14px;
  font-weight: 600;
}
.comment-content > p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.comment-2 {
  margin-left: 90px;
}

.carousel-item{
    height: 300px !important;
} 
.carousel-item img{
    height: 300px !important;
}
.carousel-next-prev {
    
    background-color: orange;
    height: 40px;
   
}
.carousel-next-prev:before {
    
}

.carousel-control-prev  {
  filter: none;
  opacity: 1;
}

.carousel-control-next{
  filter: none;
  opacity: 1;
}

/* 13. about-area */
.about-area{}
.about-text{}
.about-text h4 {
  font-size: 16px;
  font-weight: 600;
}
.about-text p {
  font-size: 14px;
  font-weight: 400;
}
.progress-bar {
  background-color: #3452FF;
  box-shadow: none;
}
.progress {
  border-radius: 4px;
  box-shadow: none;
  height: 4px;
  margin-bottom: 20px;
}
.our-skill h6 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* 14. team-area */
.team-area{}
.single-team{}
.team-item{position: relative;}
.team-img{}
.team-img a {
  display: block;
  position: relative;
}
.team-img a::before {
  background: #3452ff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 100%;
}
.team-item:hover .team-img a::before{opacity:.8;}
.team-social {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  opacity:0;
  transition:.3;
}
.team-item:hover .team-social {opacity:1}
.team-social a {
  color: #fff;
  padding: 0 15px;
  font-size: 24px;
  z-index: 2;
  display: inline-block;
  transition:.3s;
}
.team-social a:hover{color:#BFEBE8;}
.team-inner {
  margin: 25px 0;
}
.team-inner h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.team-inner h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 8px;
  text-transform: uppercase;
}
/* blog */
.our-blog-area {
  background: #f8f8f8 none repeat scroll 0 0;
}
/* 15. price */
.single-price {
  background: #f9f9f9 none repeat scroll 0 0;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.price-title {
  padding: 20px;
}
.price-title h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.price-title span {
  font-weight: 400;
  text-transform: capitalize;
}
.price-plan {
  background: #ffffff none repeat scroll 0 0;
  padding: 10px;
  color: #3452ff;
}
.price {
  font-size: 45px;
  font-weight: 600;
}
.period {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.item-list > li {
  font-size: 14px;
  padding: 10px 5px;
}
.sign {
  background: #3452ff none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  padding: 12px 8px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.sign i {
  color: #3452ff;
  margin-left: -14px;
    transition: all 0.3s ease-in-out 0s;
}
.single-price:hover .sign i{
  color: #ffffff;
  padding: 0 10px;
}
.sign:hover{color:#fff;}
/* 16. video-area */
.play-icon-md {
  border: 4px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-size: 24px;
  height: 75px;
  line-height: 67px;
  width: 75px;
  z-index: 99;
  position: relative;
}
.video-text {
  position: relative;
  z-index: 99;
}
.video-text p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 0;
  margin-top: 30px;
}
.video-text h6 {
  margin-top: 30px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0;
}


li {list-style-type: none;}

.categories img{
  max-height: 26px;
}

.categories li{
  padding-bottom: 15px;
  color:rgb(65, 64, 66);
}
.categories li a{
  font-family: Arial, Helvetica, sans-serif;
  color:#7a7a7a;
  font-size: 1em;
  
  font-weight: bold;
}
/*
.header-top-area li{
  border-right: 1px solid #e71f30;
  color: #ffffff;
}
*/
.header-top-area li a{

  color: black;
}



/*Navigation*/

.dark-orange-top{
  height:100px;
  background-color:#e94922;
}

.dark-orange-top{
  height:30px;
  background-color:#e94922;
}

.light-orange-top{
  height:59px;
  background-color:#ea7d23 !important;
}


.navbar-brand img{
  height: 67px;
  width: 136px


}

.mobile-cat{
  padding-top:5px;
  border-bottom: 1px solid #e6e7e8;
}

.mobile-cat h6 {
 font-family: 'Open Sans',sans-serif;
 font-weight: 500;
 color:#7a7a7a;
 
}
.header_area{

}


.logo
{
 color:
    white;
    font-weight: 900;
    font-size: 30px;
    padding: 0px 1rem 12px 5rem;

}
.logo:hover{
  color:white;
}


.header_area .main-menu .nav-item .nav-link{
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding:1rem;
  color: black;
  font-size: 12px
}




.header_area .main-menu li  a{
  color: white !important;
}

.header_area .main-menu li  a:hover{
    
    text-decoration: underline;
    text-decoration-color:white;
}

}
.custom-toggler.navbar-toggler {
    border-color: rgba(105,105,105);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(105,105,105)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.btn-cat{
border-radius: 10px;
height:40px;
background-color:#e94922;
color:white;
border:none;
margin-right:10px;
}

.btn-cat:hover{

background-color:white !important;
color:#e94922;

}





/*END Navigation*/

/*Light Orange*/
.navbar-nav{
 font-family: 'Open Sans',sans-serif;
}
.search-city::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ea7d23;
  opacity: .5; /* Firefox */
}
.search-city:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ea7d23;
}

.search-city::-ms-input-placeholder { /* Microsoft Edge */
  color: #ea7d23;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.search-cat:hover{
  color:red !important;

}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}


.cat-location{
 margin-right:10px;
}

.button-search {
    background-color: #e94922;
   
    border: none;
    color: white !important;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:9px;
    cursor: pointer;
}
.button {
    background-color: #e94922;
    border-radius: 10px;
    height:30px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left:9px;
    cursor: pointer;
}
.button:hover{
  background-color: white;
  color: #e94922 !important;
 
}


.btn-primary {
background-color:#e94922 !important;
color: white !important;
border:none;
border-radius: 10px;
}

.btn-primary:hover {
background-color:white !important;
color: #e94922 !important;
border:none;
border-radius: 10px;
}


.notif .icon{
  padding-right: 25px;
  font-size: 19px;
  padding-bottom: 14px;
}
.dropdown-menu a:hover{
  color:white;
  background-color: #ea7d23;
}

.sign-register a{
  font-size: 14px;
  font-weight: 600;
  color: white !important;
}

.sign-register a:hover{
   text-decoration: underline;
    text-decoration-color:white;
}
.dropdownMenuLink a{
  color:black !important;
}
/*end Light Orange*/



.carousel .carousel-item{
  height: 30px;
}

.carousel-item img{
  position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
}

.aside-title-container {
    background-color: #252525;
    -webkit-box-shadow: inset 0 4px 4px rgba(33,30,30,.1);
    -moz-box-shadow: inset 0 4px 4px rgba(33,30,30,.1);
    box-shadow: inset 0 4px 4px rgba(33,30,30,.1);
    margin: 0 -15px 20px;
    border-bottom: 1px solid #161616;
    border-top: 1px solid #161616;
    padding: 5px 0;
    clear: both;
}
    .orangeRight {
    background: url(../img/title-orange-right.png) right top no-repeat transparent;
    margin-right: -10px;
    padding-bottom: 10px;
}

.titleRight {
    margin-right: -10px;
    margin-bottom: -10px;
}

.asideTitle {
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
    padding: 0 30px;
    color: #fff;
}


.community {
    font-family: montserrat;
    font-size: 19px;
    font-weight: bold;
    line-height: 34px;
    margin: 0;
    padding: 0 30px;
    color: #fff;
    text-transform: uppercase;
letter-spacing: 2px;
}
.community:hover {
  text-decoration: underline;
    text-decoration-color:white;
}


.orangeTitle {
    background: none repeat scroll 0 0 #ff9900;
}

.categories img{
  height: 100px;
  width: 20px;
}



/* css end   #f8f8f8 */



 
/* Small devices (landscape phones, 576px and up) */

/*@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
       .nav-tabs a{
        color: red;
      }
}*/
@media only screen and (max-width: 360px) {
 #categories-shop{display: none;}
 .separator{display: none;}

  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
    padding: 18px 5px;
  }

  .dark-orange-top{
    height:100%;
    
  }


.header_area .main-menu .nav-item .nav-link{
 
  padding:.5rem;

}


}

@media only screen and (max-width: 740px) {
   #categories-shop{display: none;}
   .separator{display: none;}
    .mobile-cat{
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e7e8;

}
}
@media (max-width: 576px) {  

 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-fluid{
    width: 100% !important;
  /*  margin-right: 30%;*/
    /*margin-left: 8%;*/
  } 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .class-fluid{
    width: 50% !important;
    margin-right: 10%;
  } 
    
}